<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      
    </style>
  </head>

  <body>
    <%= form_for :books, url: books_path do |f| %>
      <p>
        <%= f.label :title %><br>
        <%= f.text_field :title %>
      </p>
    
      <p>
        <%= f.label :text %><br>
        <%= f.text_area :text %>
      </p>
    
      <p>
        <%= f.submit %>
      </p>
    <% end %>
    
  </body>
</html>
